/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* PAGE */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ffffff;
  color: #151414;
}
/* HEADINGS */
h1, h2 {
  margin: 20px;
  text-align: center;
}

/* =======================
   FOOTER BAR
======================= */
.footer-bar {
  background: #C5D89D;
  color: #3e4531;
  padding: 16px 20px;
  margin-top: 40px;
}
.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer-content p {
  margin: 0;
}
/* MOBILE FOOTER */
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }
}
